<% @body_id = 'home' %>

    <meta name="naver-site-verification" content="bfd72ecd4e9560cefa354de02bf27871e4aca35c" />

    <%= favicon_link_tag 'favicon.ico' %>
   
    <meta property="og:description" content="나만의 작은 정원을 임대하고 꽃과 작물들을 심어보세요" />
    <meta property="og:image" content="https://images.unsplash.com/photo-1457530378978-8bac673b8062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />


<div class="homepage-hero-image mb position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= image_path('homepage/main_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/main_banner') %>"
    alt="<%= Spree.t('homepage.summer_collection')%>" />
  <div class="hero-content">
  
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-6 col-lg-6">
      <%= link_to "/introduce" do %>
        <div class="homepage-bottom-box text-center ">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/intro.jpg') %>"
            
            alt="<%= Spree.t('homepage.new_collection')%>" />
        </div>
      <% end %>
    </div>

  
    <div class="col-6 col-lg-6">
      <%= link_to "/samplediary" do %>
        <div class="homepage-bottom-box text-center ">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/diary.jpg') %>"
         
            alt="<%= Spree.t('homepage.new_collection')%>" />
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12">
      <%= link_to "/t/categories/flower" do %>
       
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/big_category_banner.jpg') %>"
            data-srcset="<%= image_source_set('homepage/big_category_banner') %>"
            alt="<%= Spree.t('homepage.new_collection')%>" />
        
      <% end %>
    </div>
  </div>
</div>




