<% @body_id = 'home' %>

<div class="homepage-hero-image mb position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/main_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/main_banner') %>"
    alt="<%= Spree.t('homepage.summer_collection')%>" />
  <div class="hero-content">
  
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-6 col-lg-6">
      <%= link_to "/introduce" do %>
        <div class="homepage-bottom-box text-center ">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/intro.jpg') %>"
            
            alt="<%= Spree.t('homepage.new_collection')%>" />
        </div>
      <% end %>
    </div>

  
    <div class="col-6 col-lg-6">
      <%= link_to "/samplediary" do %>
        <div class="homepage-bottom-box text-center ">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/diary.jpg') %>"
         
            alt="<%= Spree.t('homepage.new_collection')%>" />
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12">
      <%= link_to "/t/categories/flower" do %>
       
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/big_category_banner.jpg') %>"
            data-srcset="<%= image_source_set('homepage/big_category_banner') %>"
            alt="<%= Spree.t('homepage.new_collection')%>" />
        
      <% end %>
    </div>
  </div>
</div>




