

<div class="homepage-hero-image mb position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/intro_main.jpg') %>"
    alt="<%= Spree.t('homepage.summer_collection')%>" />
</div>



  <div class="center mb-3">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('introduce/intro_1.jpg') %>"
            >
      </div>
      
      
  <div class="center mb-3">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('introduce/intro_2.jpg') %>"
            >
      </div>
      
      
  <div class="center mb-3">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('introduce/intro_3.jpg') %>"
            >
      </div>
      
      
  <div class="center mb-3">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('introduce/intro_4.jpg') %>"
            >
      </div>
      
    