<!DOCTYPE html>
<html>
  <head>
    <title>Littlefarm - 나만의 작은정원</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property=”og:description” content="나만의 작은 정원을 임대하고 꽃과 작물들을 심어보세요" />
    <meta property=”og:image” content="assets/images/main_banner_mobile.jpg" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
